*, *::before, *::after {
    box-sizing: border-box;  
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */
h1, h2, h3, h4, p, .beta-text, .subheading {
    margin: 1em;
}


h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0.167em 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0.167em 0;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.35;
    text-align: center;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;  
    margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
    font-size: 1rem;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Blockquotes
   ================= */
 
 /* Blockquote main style */
 .blockquote {
    position: relative;
    font-weight: 800;
    color: #ffffff;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 50px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h3 {
    position: relative;
    font-style: italic;
    color: #FFFFFF;
    line-height: 1;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 1);
    font-size: 5rem;
    line-height: 0;
    bottom: -0.2em;
    right: 0.7em;
}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column; 
    padding-left: 2em;
    padding-right: 2em;   
}

/* =================
    Intro
   ================= */
.intro { 
    justify-content: space-between;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('public/rpgc-15th-summer.jpg');    
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    justify-content: center;
    align-items: center;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
}

.main-content p,
form {
    max-width: 450px;
}

/* =================
    Form
   ================= */

input,
button {
    font-family: inherit;
    width: 100%; 
    border-radius: 5px;   
}

input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 2px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #bf9135;
    background-color: #e6e8ec;
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: #ffffff;
    background-color: #081C3C;
    margin-top: 1em;    
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #bf9135;
}

/* =================
    Media queries 
   ================= */
@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.625rem;
    }
    
    .beta-text {
        font-size: 1.25rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        padding-bottom: 1.5em;
    }
    
    .intro {
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: space-evenly;
        padding-top: 0;
    }
}